<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @image.url %>
  <br>
  <strong>Tags:</strong>
  <%= @image.tag_list.join(', ') %>
  <br>
  <strong>Image:</strong>
  <br>
  <%= image_tag @image.url, class: 'image', skip_pipeline: true %>
</p>

<%= link_to 'Back', images_path %>
